.container{
    display: inline-block;
    height: 50px;
   /* width: 180px */

    background-color: #00ffff;
    padding: 50px;
    margin: 20px;
    box-sizing: border-box;
    border: 5px solid red;
}
.secondContainer{
    display: inline;
    height: 100px;
    background-color: yellow;
    margin: 50px;
    border: 5px solid purple;
    width: 400px;
    box-sizing: border-box;
}

.wrapper{
    background-color: skyblue;
    color: white;

}

#uniqueElement{
    color: darkblue;
}

.wrapper > div{
    color: red;
}

.wrapper p{
    color: dodgerblue;
}

.list{
    background-color: rebeccapurple;
}

li{
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}

li:hover{
    background: white;
    color: black;
}



li:nth-child(2n+1){
    color: yellowgreen;
}

li+li{
    margin-left: 10px;
}

li:first-child{
    color: red;
}

.wrapper, p{
    padding: 20px;
}
.par ~ p{
    color: #3e5315;
}

.par ~ div{
    color: #3e5315;
}

*{
    background-color: yellow;
}

.tableContainer{
    border: 2px solid black;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
}

tr{
    border: 1px solid black;
    background-color: cyan;
}
tr:nth-child(2n+1){
    background-color: darkgrey;
}


.theadStyle{
    background-color: chocolate;
}
