body {
    background-color: rebeccapurple;

}

.userCardContainer {
    background-color: white;

    width: 300px;

    text-align: center;
    box-sizing: border-box;
    margin: 100px auto;
    padding: 20px;

    box-shadow: 0px 0px 52px -12px rgba(0,0,0,0.75);

}

.userCardImageContainer {
    padding: 30px 0;
    box-sizing: border-box;
}

.userCardImageContainer > img {
    border-radius: 50%;

    height: 100px;
    width: 100px;

    object-fit: cover; /*Для нормального позиционирования указанной области*/
}

.userCardInfoContainer {
    font-family: 'Roboto' sans-serif;
}

.userCardNameContainer {

}

.userCardNameContainer >p {
    font-size: 14px;
    font-weight: 300;
}

.userCardInfo {
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 300;
}

.userCardIcon {
    display: inline-block;
}

.userCardIcon > img {
    width: 20px;
}

.userCardIcon > span {
    display: block;
}

.userCardIcon + .userCardIcon {
    margin-left: 60px;
}

.userCardButton {


}

.userCardButton > a {

    box-sizing: border-box;
    background-color: rebeccapurple;
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px 20px;

    text-decoration: none;
    text-transform: capitalize;
    color: lightgray;

}

a: