.container{
    display: inline-block;
    height: 50px;
   /* width: 180px */

    background-color: #00ffff;
    padding: 50px;
    margin: 20px;
    box-sizing: border-box;
    border: 5px solid red;
}
.secondContainer{
    display: inline;
    height: 100px;
    background-color: yellow;
    margin: 50px;
    border: 5px solid purple;
    width: 400px;
    box-sizing: border-box;
}

.wrapper{
    background-color: rebeccapurple;
    color: white;

}

#uniqueElement{
    color: darkblue;
}

.wrapper > div{
    color: red;
}

.wrapper p{
    color: dodgerblue;
}